* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

textarea,
input {
  border: none;
  outline: none;
  padding-left: 20px;
}

select {
  outline: none;
  cursor: pointer;
}

.container {
  padding-left: 330px;
  padding-right: 60px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.home__wrapper {
  @include displayFlex(space-between);
}

.routes {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.board__btn {
  position: fixed;
  right: 60px;
  bottom: 80px;
  z-index: 999;
}

.arxiv {
  width: 180px;
  height: 40px;
  background: $blue;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  @include displayFlex(center);
  gap: 5px;
  border: none;
  cursor: pointer;

  .arxiv__icon {
    font-size: 18px;
  }
}
